@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;
}
/* ~~ Top Navigation Bar ~~ */
#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
background-color: #ffde59;
  height: 70px;
  width: 100%;
  text-align:center;
}

.navigation-bar video{
  float:left;
}
